@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #F8F8F8;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
@media (min-width:769px) {
    .active{
        color: #6c5ce7;
        border-bottom: 1px solid #6c5ce7;
    }
}


@media (max-width:768px) {
    .active{
    color: white;
    border-bottom: 1px solid white;
}
}

.round{
    border-bottom-left-radius: 5px;
}


